[data-bs-theme="dark"] {
    --shadow-inventory: rgba(102, 102, 138, 0.59) 0px 30px 60px -12px inset, rgb(0, 0, 0) 0px 18px 36px -18px inset;
}

[data-bs-theme="light"] {
    --shadow-inventory: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#itemBig {
    background-color: #d7d7d792;
    transition: 200ms;
}

#itemBig:hover {
    transform: scale(1.03);
}

.inventory-btn {
    cursor: pointer;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    box-shadow: var(--shadow-inventory);
    transition: .1s;
}

.inventory-btn:hover {
    opacity: .5;
}